#graph
{
    position:relative;
    width:660px;
    height:282px;
    margin:8px;
    padding:0;
}
#graph ul
{
    position:absolute;
    top:0;
    left:32px;
    width:inherit;
    height:266px;
    border-left:1px solid black;
    border-bottom:1px solid black;	
}
#graph li
{
   position:absolute;	
   list-style:none;
   background:lightblue;
   width:50px;
   text-align:center;
   border:1px solid black;
   visibility: hidden;
}