<table style="margin-left:auto;margin-right:auto;"><tr>
{foreach from=$meteo item=day}
	<td>
		<ul style="list-style-type:none;text-align:center;">
			<li>
				{$day[0]}
			</li>
			<li>
				<img src="./res/
				{if $day[2]=="clear sky" or $day[2]=="sky is clear"}clear sky
				{elseif strpos($day[2],"snow")!= false or strpos($day[2],"sleet")!= false}snow
				{elseif $day[2]=="broken clouds"}broken clouds
				{elseif strpos($day[2],"drizzle")!= false}drizzle
				{elseif $day[2]=="few clouds"}few clouds
				{elseif $day[2]=="overcast clouds"}overcast clouds
				{elseif strpos($day[2],"rain")!= false}rain
				{elseif $day[2]=="scattered clouds"}scattered clouds
				{elseif strpos($day[2],"thunderstorm")!= false}thunderstorm
				{else}default{/if}.png" alt="{$day[2]}"/>
				<p>{$day[2]}</p>
			</li>
			<li>
				{$day[1]} °C
			</li>
		</ul>
	</td>
{/foreach}
</tr></table>